.Rproj.user
.Rhistory
.RData

*.pdf
*.aux
*.log
*.Rapp.history

r/map-colour-temperature-data.RData
data/Connecticut.csv
data/Georges Bank.csv
data/Gulf of Maine.csv
data/Massachusetts.csv
data/Newfoundland.csv
data/Nova Scotia.csv
data/Rhode Island.csv
data/s Gulf St Lawrence.csv
data/s New England.csv
fig/correlations-table.csv
fig/optimal-curves-simple.ai
fig/optimal-curves-simple.pdf
fig/quadratic-meta-regressions.csv


*.RData
*.rda
